<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD_CONNECTION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>add a buddy</h2>
            <form th:action="@{/user/add_connection}" th:object="${connection}" method="post">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>email</label>
                        <input type="text" class="form-control" th:field="*{email}">
                    </div>
                   <div class="col-md-6 form-group">
                        <label>description</label>
                        <input type="text" class="form-control" th:field="*{note}">
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">ADD</button>
            </form>
            
             <h2>Delete a buddy</h2>
            <form th:action="@{/user/delete_connection}" th:object="${connection}" method="delete">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>buddy username</label>
                        <input type="text" class="form-control" th:field="*{connectionUsername}">
                    </div>
                   
                    
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">DELETE</button>
            </form>
        </div>
    </div>
</div>

</body>
</html> 