<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User registred</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    th:href="@{/css/display_form.css}" />
</head>
<body>
  <h2>Welcome</h2>
  <div> 
  	${error}
  </div>
  <div class="container">
         <h6><a th:href="@{/login}">click here to login</a></h6>
        
    </div>
</body>
</html> 