<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay a Buddy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Pay A Buddy </h2>
            <form th:action="@{/user/operation/payment}" th:object="${transaction}" method="post">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>buddy's username</label>
                        <input type="text" class="form-control" th:field="*{connectionUsername}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>choose the amount</label>
                        <input type="real" class="form-control" th:field="*{amount}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">OK</button>
            </form>
        </div>
    </div>
</div>

</body>
</html> 