<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User registred</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    th:href="@{/css/display_form.css}" />
</head>
<body>
  <h2>Welcome</h2>
  <table>
    <tbody>
      <tr>
         <td> <strong>Username: </strong> </td>
         <td><span th:text="${user.username}"></span></td>
     </tr>
     <tr>
        <td><strong>Email: </strong></td>
        <td><span th:text="${user.email}"></span></td>   
    </tr>
    <tr>
        <td><strong>Password: </strong></td>
        <td><span th:password= "${user.password}"></span></td>
     </tr>
    </tbody>
  </table>
  <div class="container">
         <h6><a th:href="@{/login}">click here to login</a></h6>
        
    </div>
</body>
</html> 